.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

.contact-header {
    text-align: center;
    margin-bottom: 20px;
}

.contact-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
}

.contact-content>div {
    flex: 1;
    padding: 20px;
}

.contact-info {
    margin-top: 20px;
}

.contact-info p {
    margin: 5px 0;
}

.contact-form {
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea.form-control {
    resize: vertical;
}

.btn {
    font-size: 1rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
}

.btn:active {
    scale: 0.92;
}

.btn:hover {
    background: rgb(2, 29, 78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
}

p {
    margin: 0;
}

@media (max-width: 599px) {
    .contact-content {
        flex-direction: column;
        align-items: center;
    }

    .contact-content>div {
        padding: 10px;
        width: 100%;
    }

    .contact-form {
        padding: 10px;
    }
}

@media (min-width: 600px) {
    .contact-header h1 {
        font-size: 1.8rem;
    }

    .form-control {
        padding: 10px;
    }

    .btn {
        font-size: 0.9rem;
        padding: 0.8rem 2rem;
    }
}

@media (min-width: 768px) {
    .contact-header h1 {
        font-size: 2rem;
    }

    .contact-content {
        flex-direction: row;
    }

    .contact-form {
        padding: 20px;
    }
}

@media (min-width: 992px) {
    .contact-header h1 {
        font-size: 2.5rem;
    }

    .contact-content {
        max-width: 1000px;
    }
}

@media (min-width: 1200px) {
    .contact-content {
        max-width: 1200px;
    }

    .contact-header h1 {
        font-size: 3rem;
    }
}